include nc_py_api/*
include AUTHORS
include README.md
include CHANGELOG.md
include pyproject.toml

exclude *.yaml *.yml Makefile

recursive-exclude * *.yaml *.yml

prune benchmarks
prune docker
prune docs
prune examples
prune scripts
prune tests
